NEXT_PUBLIC_SANITY_PROJECT_ID=61qy0aqx
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2026-01-01
# Server-side only. Create at sanity.io/manage -> API -> Tokens
SANITY_API_WRITE_TOKEN=
# Admin login
ADMIN_PASSWORD=
ADMIN_SESSION_SECRET=
